.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
input {
    width: 200px;
}
button {
    width: 100px;
    background-color: chartreuse;
}